@using Bakkal.Models
@model List<Urunler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Bakkal.cshtml";
}

<html>
<body>
    <div class="container">
        @using (Html.BeginForm())
        {
        <table class="table table-striped">
            <thead>
                <tr class="bg-primary">
                    <th scope="col"> </th>
                    <th>Ürün Kategorisi</th>
                    <th>Ürün Adı</th>
                    <th>Ürün Fiyatı</th>
                    <th>Miktar</th>
                    <th>Sil</th>
                    <th>Güncelle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr class="bg-info">
                    @if (@item.UrunKategorisi == "Ev/Kişisel İhtiyaçlar")
                    {
                        <th style="width:100px"><img style="width:100%" src="~/Resim/temizlik.jpeg" /></th>
                    }
                    @if (@item.UrunKategorisi == "İçecek")
                    {
                        <th style="width:100px"><img style="width:100%" src="~/Resim/icecek.jpeg" /></th>
                    }
                    @if (@item.UrunKategorisi == "Gıda Maddeleri")
                    {
                        <th style="width:100px"><img style="width:100%" src="~/Resim/yemeklik.jpeg" /></th>
                    }
                    @if (@item.UrunKategorisi == "Atıştırmalık")
                    {
                        <th style="width:100px"><img style="width:100%" src="~/Resim/snacks.jpeg" /></th>
                    }
                    <th>@item.UrunKategorisi</th>
                    <th>@item.UrunAdi</th>
                    <th>@item.UrunFiyati ₺</th>
                    <th>@item.Stok</th>
                    <th><a href="/BakkalUrunler/Sil/@item.UrunId" class="btn btn-danger">Sil</a></th>
                    <th><a href="/BakkalUrunler/Getir/@item.UrunId" class="btn btn-success">Güncelle</a></th>
                </tr>
                }
            </tbody>
        </table>
        }
    </div>
</body>
</html>

