@using Bakkal.Models
@model List<Yeni>
@{
    ViewBag.Title = "Getir";
    Layout = "~/Views/Shared/_Bakkal.cshtml";
}

<html>
<body>
    <div class="container">
        @using (Html.BeginForm())
        {
            <table class="table table-striped">
                <thead>
                    <tr class="bg-primary">
                        <th>Ürün Adı</th>
                        <th>Ürün Fiyatı</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="bg-info">
                            <th>@item.UrunAdi</th>
                            <th>@item.UrunFiyati ₺</th>
                        </tr>
                    }
                </tbody>
            </table>
            <table class="table table-striped">
                <thead>
                    <tr class="bg-primary">
                        <th>Ürünlerin Toplamı</th>
                        <th>+</th>
                        <th>Sipariş Ücreti</th>
                        <th>=</th>
                        <th>Toplam Tutar</th>
                        <th>Onayla</th>
                        <th>Reddet</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-info">
                        <th>@ViewBag.tutar</th>
                        <th>+</th>
                        <th>@ViewBag.uc</th>
                        <th>=</th>
                        <th>@ViewBag.top</th>
                        <th><a href="/BakkalSiparis/History/@ViewBag.his" class="btn btn-info col-sm-4">Onay</a></th>
                        <th><a href="/BakkalSiparis/Reddet/@ViewBag.his" class="btn btn-danger col-sm-4">Red</a></th>
                    </tr>
                </tbody>
            </table>
        }
    </div>
</body>
</html>

